.container {
    text-align: center;
    font-size: medium
}

.techContainer {
    text-align: center
}

.techList {
    font-size: large;
    display: grid;
    list-style-position: inside;
    justify-content: space-around
}

.closingItems {
    text-align: center
}