/* .productTable {
    font-size: 25px;
} */

.icon {
    max-width: 100px;
    max-height: 100;
}

.pageTitle {
    display: flex;
}

.productBtn {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    font-size: medium;
    font-weight: bold;
    padding: .5em;
    background-color: gold;
    box-shadow: 1em;
}