.pageTitle {
    display: flex;
    margin-bottom: 5px;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
    
}

.countItem {
    text-align: center;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 15px;
}

.addCount {
    display: block;
    text-align: center;
    padding: 20px 10px;
    line-height: 140;
    /* width:100px;
    height: 20px; */
}